<%= form_with(model: [@conversation, Message.new], url: conversation_messages_path(@conversation), method: :post, local: true) do |form| %>
  <div class="flex items-center mt-4">
    <%= form.text_field :body, placeholder: "Scrivi un messaggio...", class: "w-full p-3 rounded-l-lg bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-teal-400" %>
    <%= form.submit "Invia", class: "bg-purple-600 text-white py-3 px-6 rounded-r-lg hover:bg-purple-500 transition ease-in-out duration-300" %>
  </div>
<% end %>
