<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Snippet Condiviso</title>
</head>
<body>
  <h1>Ciao!</h1>
  <p>Il nostro utente ti ha condiviso uno snippet che potrebbe interessarti.</p>
  <p>Titolo: <%= @snippet.title %></p>
  <p>Contenuto:</p>
  <pre><%= @snippet.content %></pre>
  <p>Commento: <%= @snippet.comment %></p>
  <p>Grazie per aver utilizzato la nostra piattaforma!</p>
</body>
</html>
