<div class="container mx-auto p-6">
  <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
    <h1 class="text-3xl font-bold text-white mb-6">Your Notifications</h1>

    <% if @notifications.empty? %>
      <p class="text-gray-400">No notifications found.</p>
    <% else %>
      <ul class="space-y-4">
        <% @notifications.each do |notification| %>
          <li class="flex justify-between items-center bg-gray-700 p-4 rounded-lg shadow-sm hover:bg-gray-600 transition" data-id="<%= notification.id %>">
            <p class="text-gray-300">
              <%= notification.message %>
            </p>

            <div class="flex space-x-4">
              <%# unless notification.read %>
                <%# = link_to mark_as_read_notification_path(notification), method: :patch, remote: true, class: 'text-blue-400 hover:text-blue-300 underline transition', title: 'Mark as Read' do %>
                  <%# <i class="fas fa-envelope-open"></i> %>
                <%# end %>
              <%= link_to notification_path(notification), method: :delete, remote: true, class: 'text-red-400 hover:text-red-300 transition', title: 'Delete Notification' do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
