<h1>Authorize Google Drive</h1>

<p>You are being redirected to authorize access to your Google Drive. Please wait...</p>

<script type="text/javascript">
  window.location.href = "<%= @auth_url %>";
</script>
